<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
    <a class="nav-item nav-link" routerLink="/property" routerLinkActive="active">Property</a>
    <a class="nav-item nav-link" routerLink="/bookings" routerLinkActive="active">Bookings</a>
  </div>
</nav>

<router-outlet></router-outlet>
