<body>
  <div class="bg-img">
    <div class="content">
      <header class="signup">Sing up</header>

      <div>
        <p class="result result-true" *ngIf="isSucceeded">
          {{ msg }}
        </p>
        <p class="result result-false" *ngIf="!isSucceeded">
          {{ msg }}
        </p>
      </div>

      <form
        method="post"
        class="form"
        #userRegistrationForm="ngForm"
        (ngSubmit)="onSubmit(userRegistrationForm)"
      >
        <div class="field">
          <span class="fas fa-fname"></span>
          <input
            class="input"
            type="text"
            placeholder="First name"
            name="firstName"
            required
            #userFirstName="ngModel"
            ngModel
          />
        </div>
        <div class="field">
          <span class="fas fa-lname"></span>
          <input
            class="input"
            type="text"
            name="lastName"
            placeholder="Last name"
            required
            #userLastName="ngModel"
            ngModel
          />
        </div>
        <div class="field">
          <span class="fas fa-user"></span>
          <input
            class="input"
            type="text"
            name="email"
            placeholder="Email"
            required
            email
            #userEmail="ngModel"
            ngModel
          />
        </div>
        <div class="field">
          <span class="fas fa-ph"></span>
          <input
            class="input"
            type="text"
            name="phone"
            placeholder="Phone"
            required
            #userEmail="ngModel"
            ngModel
          />
        </div>
        <div class="field">
          <span class="fas fa-lock"></span>
          <input
            class="input input-pass"
            type="password"
            name="password"
            placeholder="Password"
            required
            minlength="6"
            #userPassword="ngModel"
            ngModel
          />

          <span class="show">SHOW</span>
        </div>

        <div class="field">
          <button class="input input-submit" type="submit" value="Register">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
